@charset "utf-8";
/* CSS Document */
html *{
	font-family:Arial;
	margin:0;
	padding:0;
}

body{	
	margin:0;	
	padding:0;	
	text-align:center;	

}
a{
	font-size:12px;
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#000;
	text-decoration:underline;
}
a:visited{
	color:#333;
}
.table{
      margin:0px;
      display:inline; 
 }

.td_name{ 
    height:24px;
	width:60px;
    color:#000000;
	font-family:Arial;
	font-size:13px;
	text-align:right;
	}
.td_input{
    width:150px;
	text-align:left;
 }
 
 
.input_left{
	border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 138px! important;
	height:20px;
	line-height:20px;	
	font-family:Arial;
    background-image:url(../images/username.gif);
	background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	
	}
.input_left:hover{
    background:#F5FDFE;
    border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 138px! important;
	height:20px;
	line-height:20px;
	font-family: Arial;
    background-image:url(../images/username.gif);
	background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	}
.password{	
	border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 138px! important;
	height:20px;	
	line-height:20px;
	font-family: Arial;
    background-image:url(../images/password.gif);
	background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	}
.password:hover{
    background:#F5FDFE;
	border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 138px! important;
	height:20px;
	line-height:20px;	
	font-family: Arial;
    background-image:url(../images/password.gif);
	background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	}
	
.input_loginvercode{
	border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 67px! important;
	height:20px;
	line-height:20px;	
	font-family:Arial;
    background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	
	}
.input_loginvercode:hover{
    background:#F5FDFE;
    border-right: #a1bca3 1px solid;
    border-top: #a1bca3 1px solid;
	border-left: #a1bca3 1px solid;
	border-bottom: #a1bca3 1px solid;
	padding-right: 2px; 
	padding-bottom: 0px;
	padding-left:22px;
	vertical-align: middle; 
	width: 67px! important;
	height:20px;
	line-height:20px;
	font-family: Arial;
    background-position: 1px 2px;
	background-repeat:no-repeat;
	font-size: 13px;
	}
	
.inp_L1 {

	BACKGROUND: url(../images/button_bg.png) no-repeat
}
.inp_L2 {
	BACKGROUND: url(../images/button_bg2.png) no-repeat
}
.inp_L3 {
	BACKGROUND: url(../images/button_bg3.png) no-repeat
}
.inp_L1 {
	border-top-width: 0px; 
    border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	padding:0;
	margin:0;
	width:50px; 
	color: #464646;
	line-height: 23px; 
	height: 23px; 
	font-family:Arial;
	font-size:11px;
}
.inp_L2 {
	border-top-width: 0px;  
	border-left-width: 0px; 
	border-bottom-width: 0px; 
	width:50px; 
	color: #ffffff; 
	line-height: 23px; 
	height: 23px; 
	border-right-width: 0px;
	font-family:Arial;
	font-size:11px;}	
.inp_L3{
	border-top-width: 0px;  
	border-left-width: 0px; 
	border-bottom-width: 0px; 
	width:50px; 
	color: #ffffff; 
	line-height: 23px; 
	height: 23px; 
	border-right-width: 0px;
	font-family:Arial;
	font-size:11px;}	
.table_title{ 
    font-size:11px;
	color:#464646;
	font-family:Arial;
	margin-bottom:12px;
 }
label{margin-right:0px;}