.exam_report_table{
	border-collapse: collapse;
	border-spacing: 0;
}
.exam_report_table td{
	border: 1px solid black;
}
.inner_table td{
	border:none;
}
/*New style added*/
#outp_Exam_info{
	margin-top:20px;
	
}
.lab_item_name{
 	text-decoration: underline;
 }
.lab_item_name:HOVER{
 	cursor: pointer;
 	color: #009DD9;
 }
.div_width_100 .div_left #right_button,.div_width_100 .div_left #left_button{
	border:none;
	background:none;
	background-image: url(../include/images/arrow_right.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:30px;
	width:30px;
	text-align:left;
	padding:0px;
	font-size:0px;
	margin-top:100px;
	margin-left:20px;
	outline:none;
 
  }
 .div_width_100 .div_left #left_button{
	background-image: url(../include/images/arrow_left.png);
	margin-left:auto;
	margin-right:20px;
	margin-top:90px;
 }

